<li id="graph_<%= graph.id %>">
  <%= graph.name %>
  <div class="pull-right">
    <%= graph.search %> <%= link_to "Remove", {:controller => "graphs", :id => graph.id, :action => "remove_graph", :remote => true} %>
  </div>
</li>