// Place all the styles related to the Graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
  background: #eeedd5;
  margin: 0;
}

#graph_creation{
  background: #00b6a6;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 15%;
  padding-right: 15%;

  #loader{
    padding-top: 5px;
  }
}

#currentGraphs
{
  padding-left: 15%;
  padding-right: 15%;
  h1 {
    font-size: 20px;
    font-style: bold;
    margin-bottom: 0px;
  }

}

.form-label{
  width: 110px;
  display: inline-block;
}



#currentGraphs li
{
  list-style-type: none;
}

#currentGraphsBorder {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    background: #ffffff;
    color: #00A395;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    padding: 5px 10px 5px 10px;
  }
}

#bugSearch
{
  padding: 30px 0px 0px 0px;
}


#graph
{
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

select.date-select {
  width:auto;
  height: auto;
}

hr{
  margin: 0px;
  color: #ffffff;
  background: #ffffff;
  height: 10px;
}