// Place all the styles related to the Graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
  background: #E4F0FF;
  //padding-top: 20px;
  //padding-bottom: 20px;
  margin: 0;
}


//#Main
//{
//  width: 65%;
//  margin: auto;
//  padding: 30px 10px 30px 10px;
//}

#graph_creation{
  background: #00b6a6;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 20%;
  padding-right: 20%;
}

#currentGraphs
{
  padding-left: 20%;
  padding-right: 20%;
  h1 {
    font-size: 20px;
    font-style: bold;
    margin-bottom: 0px;
  }

}

#currentGraphs li
{
  list-style-type: none;
}

#currentGraphsBorder {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    padding: 5px 10px 5px 10px;
  }
}

#bugSearch
{
  padding: 30px 0px 0px 0px;
}


#graph
{
  padding: 30px 0px 0px 0px;
}

#bar_graph
{
  padding: 10px 20px 10px 10px;
}

#line_graph
{
  padding: 10px 20px 10px 10px;
}

select.date-select {
  width:auto;
  height: auto;
}


