#logo {
  float: left;
  margin-right: 0px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    background-color: transparent;
    text-decoration: none;
  }
}

.main-container {
  background: #00b6a6;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 15%;
  padding-right: 15%;
}