#logo {
  float: left;
  margin-right: 0px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    background-color: transparent;
    text-decoration: none;
  }
}

.main-container {
  margin-top: 20px;
  background: #00b6a6;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 20px;

  padding-left: 15%;
  padding-right: 15%;
}

.error
{
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #CC0000;
}

.login-message
{
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 20px;
}

