<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a id="logo" class="brand" href="/">BugMetrics</a>
      <ul class="nav pull-right">
        <li><%= link_to 'Home', login_path %></li>
        <% if logged_in? %><li><%= link_to 'Logout', logout_path %></li><% end %>
      </ul>
    </div>
  </div>
</nav>